body{
    background-color:black;
    color:blanchedalmond;
}

@font-face {
    font-family: dangerdoom;
    src: url(aero-matics-stencil-bold-italic.ttf);
}

@font-face {
    font-family: freshman;
    src: url(WynfordLine-d95w6.otf);
}

.mf-doom-header{
    font-family: dangerdoom;
    font-size:20px;
}
.mf-doom-header span { display: inline-block}
.mf-doom-header span::first-letter{
    color: red;
}
.mf-doom-header span2 { 
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
.mf-doom-header span2::first-letter{
    color:aquamarine;
}

.crosshairs-header{
    font-family: dangerdoom;
    font-size:50px;
}
.crosshairs-header span { display: inline-block}
.crosshairs-header span::first-letter{
    color: red;
}

.center{
    /*margin: auto;
    width: 50%;
    padding: 10px;*/
    text-align: center;
}

li{
    font-size: 20px;
    padding: 10px 20px;
    cursor: default;
    -webkit-transition: padding-left 400ms ease; 
       -moz-transition: padding-left 400ms ease; 
         -o-transition: padding-left 400ms ease; 
        -ms-transition: padding-left 400ms ease;
    list-style-type: none; 
    font-family: dangerdoom;
}

li:hover {
    padding-left: 30px;
}

li span { display: inline-block}
li span::first-letter{
    color: red;
}

a{
    all: inherit;
}
a:hover{
    all: inherit;
}

.signature{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.mouse-mask{
    height: 500px;
    width: 500px;
}

.countdown{
    font-family:freshman;
    color:coral;
    color: aquamarine;

}

.cursor {
    position: fixed;
    /*position:absolute;*/
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    /*left: -100px;
    top: 50%;*/
    mix-blend-mode: difference;
    background-color: rgb(255, 0, 0);
    z-index: 10000;
    border: 2px solid rgb(255, 0, 0);
    height: 30px;
    width: 30px;
    transition: all 30ms ease-out;
  }